* {
    padding: 0px;
    margin: 0px;
}

body {
    height: 600px;
    position: relative;
}

.first {
    width: 1200px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgb(95, 191, 172);
}